h1  {
    color: blue; 
    font-size: 50px; 
    text-align: center; 
    
}

html    {
    background-color: #f5f5dc;
}

div {
    text-align: left;
    
    width: 1585px; 
    height: 200px; 
    display: grid;
    border: solid;
    border-color: grey;
    padding: 0px 0px 0px 0px;  
    
    
}
