h1  {
    color: blue; 
    font-size: 50px; 
    text-align: center;
    text-decoration: underline;
    width: 1569px;
    
    
}

h2  {
    color: black; 
    font-size: 40px; 
    text-decoration: underline; 
    display: flex;

}

h3  {
    font-size: 40px;
    text-decoration: underline;
}

html    {
    background-color: #f5f5dc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#AboutMe {
    text-align: center;  
    width: 1569px;
    height: 200px; 
    display: flex; 
   /* border: solid; /* 1569 */
   /* border-color: blue; */
 /*   flex:  1 30px; */
    font-style: oblique;
    font-size: 20px;
    
}

div {
   /* border: dashed; */
    border-color: grey;
   /* width: 200px; 
    height: 200px; */
    display: grid;
    grid-template-areas: 1fr 1fr 1fr;

}

#Other  {  
    border: solid;
    border-color: red;
    width: 600px;
    height: 100px;
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.Skills {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}

/* <input class = "button" type = "button" value = "This is a button"> */